
.personal-wallet {
    margin-left: 10%;
    float: left;
    color: #848484;
    background: #fff;
    padding: 0 30px 30px;
    font-size: 14px;
}

.personal-wallet h3 {
    position: relative;
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #DCDCDC;
    width: 880px;
    padding-top: 25px;
    height: 35px;
}

.personal-wallet h3 i {
    position: absolute;
    left: 0;
    bottom: -1px;
    border-bottom: 2px solid #28A7E1;
    padding-bottom: 10px;
}

.wallet-BTC {
    background: #f5f8fc;
    border: 1px solid #e6edf4;
    color: #112443;
    width: 220px;
    height: 235px;
    float: left;
    margin: 15px 15px;
    /*box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);*/
}

.wallet-BTC:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

.wallet-BTC h1 {
    font-size: 20px;
    font-weight: inherit;
    text-align: center;
    color: #999;
    font-size: 20px;
    padding: 10px 0 0 0;
}

.coin-amount {
    text-align: center;
    font-size: x-large;
    color: #3974b1;
    font-size: 28px;

}

.coin-amount span {
    line-height: 154px;
}

.coin-operate {
    height: 15%;
}

.coin-operate span {
    text-align: center;
    font-size: large;
    width: 50%;
    float: left;
    line-height: 43px;
}

.operate-btn span:hover {
    background: #233c63;
    color: #f7f7f7;
}

.alert-450 {
    position: absolute;
    top: 25%;
    left: 50%;
    z-index: 100;
    float: left;
    margin-left: -225px;
    width: 450px;
    background: #fff;
    padding-bottom: 20px;
}

.alert-title {
    background: none;
    border-bottom: none;
}

.alert-main {
    text-align: center;
    font-size: 14px;
    width: 100%;
    line-height: 30px;
}

.mask {
    background: #000;
    opacity: 0.3;
}

.deposit-error {
    color: #999;
    font-size: 12px;
}

.error-qrcode {
    display: inline-block;
    width: 126px;
    height: 126px;
    background: url("../images/error-qrcode.png") 0 0px;
}