<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ht.dao.BidDao" >
  <!--根据时间筛选到期标-->
   <select id="todaoqi" resultType="org.ht.pojo.Product">
    SELECT * FROM product p WHERE 1=1 and p.pcount= date(sysdate()) and  pstate = '2'; 
  </select>
 
   <!--根据ID查询用户信息-->
   <select id="seluesr" resultType="org.ht.pojo.Users" parameterType="int">
    SELECT p.uid,p.unickname,p.uname FROM users p WHERE p.uid= #{uid};
   </select>
  
    <!--修改标的状态为已经完成-->
  <update id="upzt" parameterType="int" >
    update product
    set pstate = '4'
    where id = #{id} 
  </update>
    <!--根据ID查询投资表的投资记录-->
   <select id="totouzilist" resultType="org.ht.pojo.InvestInfo" parameterType="int">
   	 SELECT * FROM investinfo p WHERE p.brrowid= #{id};
  </select>
  
  <!--根据ID查询余额-->
  <select id="togetyue" resultType="org.ht.pojo.Certification" parameterType="int">
   	 SELECT ctotalmoney FROM certification p WHERE 
    	p.cserial= #{uid};
  </select>
  
  <!--根据ID修改余额-->
  <update id="toupyue" parameterType="map" >
  	update certification
    set ctotalmoney = #{ctotalmoney}
    where cserial = #{cserial} ;
  </update>
  <!--根据ID添加一条交易记入-->
  <insert id="toaddtrade" parameterType="org.ht.pojo.Trade">
	insert into trade (uid,uname,zname,jymoney,what,jytime,other)
   	values (#{uID},#{uname},#{zname},#{jymoney},#{what},#{jytime},#{other});
  </insert>
  
   <!--_____________筹款到期____________-->
   <!--根据时间筛选到期标-->
   <select id="togetck" resultType="org.ht.pojo.Product">
    SELECT * FROM product p WHERE 1=1 and p.ptime= date(sysdate()) and p.pstate='1';
  </select> 
   
  <!--修改标的状态为已经完成-->
  <update id="upzts" parameterType="int" >
    update product
    set pstate = '3'
    where id = #{id} 
  </update>
  
  
  <!--查询借款请求的数量-->
  <select id="tosize" resultType="org.ht.pojo.Borrowmoney">
    SELECT id FROM borrowmoney p WHERE 1=1 and p.bstate= '0'
  </select> 
  <!--查询提现请求的数量-->
  <select id="tosizew" resultType="org.ht.pojo.Borrowmoney">
    SELECT wid FROM withdrawal p WHERE 1=1 and p.statu= '3'
  </select> 
  <!--查询10天内需要还款-->
  <select id="tosizeb" resultType="org.ht.pojo.Borrowcord">
        SELECT boid FROM borrowcord p WHERE 1=1 and p.bdate &gt;= SYSDATE() and p.bdate &lt;= date_add(SYSDATE(), interval '10 0:00:00' day_second)
  </select> 
  
  
  
</mapper>