<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="org.ht.dao.CertificationDao">
	<resultMap type="org.ht.pojo.Certification" id="rm">
		<id column="id" property="id" jdbcType="INTEGER"></id>
		<result column="cserial" property="cserial" jdbcType="VARCHAR"></result>
		<result column="cusername" property="cusername" jdbcType="VARCHAR"></result>
		<result column="crealname" property="crealname" jdbcType="VARCHAR"></result>
		<result column="cbalance" property="cbalance" jdbcType="VARCHAR"></result>
		<result column="cfreeze" property="cfreeze" jdbcType="VARCHAR"></result>
		<result column="cdue" property="cdue" jdbcType="VARCHAR"></result>
		<result column="cpaid" property="cpaid" jdbcType="VARCHAR"></result>
		<result column="ctotalmoney" property="ctotalmoney" jdbcType="VARCHAR"></result>
	</resultMap>
	<select id="selMoney" parameterType="java.lang.Integer" resultType="string">
		select cbalance from certification where id = #{uid}
	</select>
	<update id="updMoney" parameterType="map" >
		update certification set cbalance = #{money} where id = #{uid}
	</update>
	<update id="upmoney" parameterType="map">
		update certification set cbalance = #{cbalance},ctotalmoney = #{ctotalmoney} where id = #{uid}
	</update>
	<insert id="insert" parameterType="org.ht.pojo.Certification">
  		insert into certification(cserial,cusername,crealname,cbalance,cfreeze,cdue,cpaid,ctotalmoney)
  		 values(#{cserial},#{cusername},#{cusername},#{crealname},#{cbalance},#{cdue},#{cpaid},#{ctotalmoney});
  	</insert>
  	<select id="select" parameterType="java.lang.Integer" resultMap="rm">
  	select
		*
		from certification
		where id = #{uid}
  	</select>
</mapper>