<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="org.ht.dao.RechargeDao">
  	<resultMap type="org.ht.pojo.Recharge" id="rmap">
  		<id column="rID" property="rID"  jdbcType="INTEGER"/>
  		<result column="uID" property="uID" jdbcType="INTEGER" />
  		<result column="uname" property="uname" jdbcType="VARCHAR" />
  		<result column="zname" property="zname" jdbcType="VARCHAR" />
  		<result column="czlx" property="czlx" jdbcType="VARCHAR" />
  		<result column="lsh" property="lsh" jdbcType="VARCHAR" />
  		<result column="czmoney" property="czmoney" jdbcType="VARCHAR" />
  		<result column="fl" property="fl" jdbcType="VARCHAR" />
  		<result column="dzmoney" property="dzmoney" jdbcType="VARCHAR" />
  		<result column="cztime" property="cztime" jdbcType="TIMESTAMP" />
  		<result column="statu" property="statu" jdbcType="VARCHAR" />
  	</resultMap>
  	<select id="selectrc" resultMap="rmap" parameterType="map">
  	    select * from  recharge where 1=1
  	    <if test="zflx !=null and zflx !='' ">
  			and  czlx = #{zflx}
  		</if>
  	    <if test="uname !=null and uname !='' ">
  			and  uname = #{uname}
  		</if>
  		<if test="yyy !=null and yyy!=''  and yyyy !=null  and yyyy!='' ">
  			and  STR_TO_DATE(cztime,'%Y-%m-%d') 
		BETWEEN STR_TO_DATE(#{yyy},'%Y-%m-%d') AND STR_TO_DATE(#{yyyy},'%Y-%m-%d')
  		</if>
  		
  		<if test="statu !=null and statu !='' ">
  			and  statu = #{statu}
  		</if>
  		<if test="l1 != -2">
  	     limit #{l1},#{l2}
  	     </if>
  	</select>
  	
  	<select id="selectcount" resultType="int" parameterType="map">
  	      SELECT COUNT(*) FROM  recharge where 1=1
  	       <if test="zflx !=null and zflx !='' ">
  			and  czlx = #{zflx}
  		</if>
  	    <if test="uname !=null and uname !='' ">
  			and  uname = #{uname}
  		</if>
  		<if test="yyy !=null and yyy!=''  and yyyy !=null  and yyyy!='' ">
  			and  STR_TO_DATE(cztime,'%Y-%m-%d') 
		BETWEEN STR_TO_DATE(#{yyy},'%Y-%m-%d') AND STR_TO_DATE(#{yyyy},'%Y-%m-%d')
  		</if>
  		
  		<if test="statu !=null and statu !='' ">
  			and  statu = #{statu}
  		</if>
  	</select>
  	
  	<select id="selectall" resultMap="rmap">
		select * from   recharge    
  	</select>
  	
  		<!-- 充值总额 -->
  	<select id="sumczmoneyre" resultType="int">
		SELECT SUM(czmoney) FROM recharge  	    
  	</select>
  	<!-- 到账总额 -->
  	<select id="sumdzmoneyre" resultType="int">
		SELECT SUM(dzmoney) FROM recharge  	    
  	</select>
</mapper>
