<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ht.dao.UserMapper">
    <resultMap id="BaseResultMap" type="org.ht.pojo.User">
        <id column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="mailbox" jdbcType="VARCHAR" property="mailbox"/>
        <result column="phonenumber" jdbcType="VARCHAR" property="phonenumber"/>
        <result column="assets_pwd" jdbcType="VARCHAR" property="assetsPwd"/>
        <result column="register_date" jdbcType="TIMESTAMP" property="registerDate"/>
        <result column="lastest_login_time" jdbcType="TIMESTAMP" property="lastestLoginTime"/>
        <result column="latest_login_ip" jdbcType="VARCHAR" property="latestLoginIp"/>
    </resultMap>
    <sql id="Base_Column_List">
    uid, username, password, avatar, nickname, mailbox, phonenumber, assets_pwd, register_date, 
    lastest_login_time, latest_login_ip
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where uid = #{uid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="org.ht.pojo.User">
    insert into user (uid, username, password, 
      avatar, nickname, mailbox, 
      phonenumber, assets_pwd, register_date, 
      lastest_login_time, latest_login_ip)
    values (#{uid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{mailbox,jdbcType=VARCHAR}, 
      #{phonenumber,jdbcType=VARCHAR}, #{assetsPwd,jdbcType=VARCHAR}, #{registerDate,jdbcType=TIMESTAMP}, 
      #{lastestLoginTime,jdbcType=TIMESTAMP}, #{latestLoginIp,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="org.ht.pojo.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="mailbox != null">
                mailbox,
            </if>
            <if test="phonenumber != null">
                phonenumber,
            </if>
            <if test="assetsPwd != null">
                assets_pwd,
            </if>
            <if test="registerDate != null">
                register_date,
            </if>
            <if test="lastestLoginTime != null">
                lastest_login_time,
            </if>
            <if test="latestLoginIp != null">
                latest_login_ip,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="mailbox != null">
                #{mailbox,jdbcType=VARCHAR},
            </if>
            <if test="phonenumber != null">
                #{phonenumber,jdbcType=VARCHAR},
            </if>
            <if test="assetsPwd != null">
                #{assetsPwd,jdbcType=VARCHAR},
            </if>
            <if test="registerDate != null">
                #{registerDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastestLoginTime != null">
                #{lastestLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="latestLoginIp != null">
                #{latestLoginIp,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.ht.pojo.User">
        update user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="mailbox != null">
                mailbox = #{mailbox,jdbcType=VARCHAR},
            </if>
            <if test="phonenumber != null">
                phonenumber = #{phonenumber,jdbcType=VARCHAR},
            </if>
            <if test="assetsPwd != null">
                assets_pwd = #{assetsPwd,jdbcType=VARCHAR},
            </if>
            <if test="registerDate != null">
                register_date = #{registerDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastestLoginTime != null">
                lastest_login_time = #{lastestLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="latestLoginIp != null">
                latest_login_ip = #{latestLoginIp,jdbcType=VARCHAR},
            </if>
        </set>
        where uid = #{uid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.ht.pojo.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      mailbox = #{mailbox,jdbcType=VARCHAR},
      phonenumber = #{phonenumber,jdbcType=VARCHAR},
      assets_pwd = #{assetsPwd,jdbcType=VARCHAR},
      register_date = #{registerDate,jdbcType=TIMESTAMP},
      lastest_login_time = #{lastestLoginTime,jdbcType=TIMESTAMP},
      latest_login_ip = #{latestLoginIp,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
    <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where username = #{username,jdbcType=VARCHAR}
    </select>
    <select id="userLogin" parameterType="java.lang.String" resultMap="BaseResultMap">

    </select>
</mapper>