<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ht.dao.WalletDao">
    <resultMap type="org.ht.pojo.Wallet" id="WalletResultMap">
        <result column="userid" property="userid"
                jdbcType="INTEGER"/>
        <result column="total_count" property="totalcount"
                jdbcType="VARCHAR"/>
        <result column="c_type" property="type" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryWallets" resultMap="WalletResultMap"
            parameterType="java.lang.Integer">
		select userid ,`type`,total_count from wallet
		where userid =
		#{userid}
	</select>
</mapper>
